
    Hello, <%= @user.first_name %>
    ===============================================

    A password reset have been initiated in you account, this link is only available for 1 hour


      click this link to reset your password: <a href="<%= @url%>">Reset password</a>
      You can also copy the link and past in your browser: <%= @url %>.

   If you did not make this request please please contact suport immediatly.
 
