<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hello, <%= @user.first_name %></h1>
    <p>
      You have successfully reset your RATEHIVE password<br>
    </p>
    <p>
      click this link to login your account with your new password: <a href="<%= @url%>">Login to dashboard</a>
    </p>
    <p>
      You can also copy the link and past in your browser: <%= @url %>.
    </p>
    <p>⚠️ If you did not make this request please please contact suport immediatly.</p>
  </body>
</html>
