<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hey there <%= @user.first_name%></h1>
    <p>
      Your transfer of <%= @amount %> <%=@currency %> to <%= @recipient%> have been recieved and is currently pending.
      <br>
      <br>

      The transfer will be processed and verified in the next few minuites, you will get progress updates on your dashboard and email.
      <br>
      <br>
      Kind Regards, <br>
      RATEHIVE Team.
    </p>
  </body>
</html>
