<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hey there <%= @user.first_name%></h1>
    <p>
      Your RATEHIVE transfer is all set, and the money is on its way to <%= @recipient%>. <br>

      <br>
      <br>

      The transfer will be completed in the next few minuites, you will get progress updates on your dashboard and email.
      <br>
      <br>
      Cheers,
      RATEHIVE Team.
    </p>
  </body>
</html>
